# Terraform local working directory
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan